.main {
  display: grid;
  gap: 3em 0;
  grid-template-areas:
    "header header header"
    ". content ."
    "footer footer footer";
}
.header {
  grid-area: header;
}

.content {
  grid-area: content;
  display: grid;
  gap: 1em 0;
}

.footer {
  grid-area: footer;
}
