<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

<!-- partial:index.partial.html -->
<div class="container">
  <div class="radio-tile-group">
    <div class="input-container">
      <input id="comida1" class="radio-button" type="radio" name="radio" />
      <div class="radio-tile">
        <label for="comida1" class="radio-tile-label">Tacos</label>
      </div>
    </div>

    <div class="input-container2">
      <input id="ccomida2" class="radio-button" type="radio" name="radio" />
      <div class="radio-tile">
        <label for="comida2" class="radio-tile-label">Gorditas</label>
      </div>
    </div>

    <div class="input-container3">
      <input id="comida3" class="radio-button" type="radio" name="radio" />
      <div class="radio-tile">
        <label for="comida3" class="radio-tile-label">Chilaquiles</label>
      </div>
    </div>

    <div class="input-container4">
      <input id="comida4" class="radio-button" type="radio" name="radio" />
      <div class="radio-tile">
        <label for="comida4" class="radio-tile-label">Tortas</label>
      </div>
    </div>
  </div>
</div>
