  
               <form > 
                <form class="FirtsLast" (ngSubmit)="SaveData(formTemplate)" #formTemplate="ngForm" >
                  
                    <mat-form-field class="example-full-width" appearance="fill" style="border: cadetblue;">
                      <mat-label>First name</mat-label>
                      <input type="text" matInput [disabled]="fnameandlas" value="andres"  ngModel required   >
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label> Last Name </mat-label>
                      <input matInput [disabled]="fnameandlas" name="last" ngModel required placeholder="last">
                    </mat-form-field>
                    <div class="EditPos">
                      <input  type="submit" value="Actualizar" class="Editar">
                      </div>
                </form>
              
                <div class="lugarsede"  >
                  <mat-form-field appearance="fill" class="lugarTrab"  >
                    <mat-label>Sedes</mat-label>
                    <select matNativeControl [disabled]="fnameandlas">
                      <option value="primary">Monterrey</option>
                      <option value="accent">Chihuahua</option>
                      <option value="warn">Durango</option>
                      <option value="warn">Durango</option>
                    </select>
                  </mat-form-field>
              </div>

                <div class="dma">
                <mat-form-field appearance="fill">
               <input matInput type="date" disabled>
              </mat-form-field><tr></tr>
                </div>
              <div class="EditPos">
              <input  (click)="buttonD()" type="button" value="Editar" class="Editar">
              </div>
              <div class="EditPos">
                <input  type="submit" value="Actualizar" class="Editar">
                </div>
            </form>