
/*El Apartado De en Nav De Arriba*/

// .cajon2 {
//   display: flex;
//   flex-direction: row;
// }

// .caja {
//   display: block;
// }

/*El Apartado De La  Letra Del Ususario y su vista*/


.perfil {
  width: 10rem;
  height: 10rem;
  
  border-radius: 50%;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 600%;
}

.example-container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  
  
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  
}

.example-sidenav {
  padding: 20px;
  
}

