
    <!--
      <div class="perfilpos">
        <div class="perfil">A</div>
      </div>

      <form action="" [formGroup]="perfilForm" (ngSubmit)="onSubmit()">

        <div class="Firstlast">
          <mat-form-field appearance="outline">
          <mat-label for="fname">First name:</mat-label>
          <input matInput type="text" id="fname" name="fname" formControlName="firstName" ><br>
          </mat-form-field>
          <mat-form-field appearance="outline">
          <mat-label for="lname">Last name:</mat-label>
          <input matInput type="text" id="lname" name="lname" formControlName="lastName"><br>
          <mat-error>
            First Name is Required!
          </mat-error>
        </mat-form-field>
        </div>
        <div class="Firstlast2">
        <mat-form-field appearance="outline">
        <mat-label for="">Sedes:</mat-label>
        <select matNativeControl name="curso" formControlName="sedes">
          <option value="" disabled>Elige una opción</option>
          <option>Monterrey</option>
          <option>Chihuahua</option>
          <option>Durango</option>
          <option>Durango</option>
        </select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      </div>


        <button type="submit" [disabled]="!perfilForm.valid">submit</button>

      </form>-->

      <mat-drawer-container class="example-container" autosize>
        <mat-drawer #drawer class="example-sidenav" mode="side" position="end" >
          <div class="perfilpos">
            <div class="perfil">A</div>
          </div>
    
          <form action="" [formGroup]="perfilForm" (ngSubmit)="onSubmit()">
    
            <div class="Firstlast">
              <mat-form-field appearance="outline">
              <mat-label for="fname">First name:</mat-label>
              <input matInput type="text" id="fname" name="fname" formControlName="firstName" [(ngModel)]= "fname"><br>
              </mat-form-field>
              <mat-form-field appearance="outline">
              <mat-label for="lname">Last name:</mat-label>
              <input matInput type="text" id="lname" name="lname" formControlName="lastName" [(ngModel)]= "fname"><br>
              <mat-error>
               <!-- {{mensajerror}}-->
                First Name is Required!
              </mat-error>
            </mat-form-field>
            </div>
            <div class="Firstlast2">
            <mat-form-field appearance="outline">
            <mat-label for="">Sedes:</mat-label>
            <select matNativeControl name="curso" formControlName="sedes">
              <option value="" disabled>Elige una opción</option>
              <option>Monterrey</option>
              <option>Chihuahua</option>
              <option>Durango</option>
              <option>Durango</option>
            </select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          </div>
    
    
            <button type="submit" [disabled]="!perfilForm.valid">submit</button>
    
          </form>
        </mat-drawer>
      
        <div class="example-sidenav-content">
          <button type="button" mat-button (click)="drawer.toggle()">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
            width="50" height="50"
            viewBox="0 0 50 50"
            style=" fill:#000000;"><path d="M 0 9 L 0 11 L 50 11 L 50 9 Z M 0 24 L 0 26 L 50 26 L 50 24 Z M 0 39 L 0 41 L 50 41 L 50 39 Z"></path></svg>
          </button>
        </div>
      
      </mat-drawer-container>

 
