// .mat-drawer-opened{
//   z-index: 1;
// }

.mat-drawer-container {
  visibility: hidden;
  // z-index: 1;
}

/*El Apartado De La  Letra Del Ususario y su vista*/
.perfilpos {
  display: flex;
  justify-content: center;
}

.perfil {
  width: 10rem;
  height: 10rem;

  border-radius: 50%;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 600%;
}

.Firstlast {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;

  margin-top: 20px;
}

.nav-container {
  position: fixed;
  z-index: 4;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: flex-start;
  justify-content: flex-end;
}
//Dise;o del Menu
.menuH {
  display: flex;
  justify-content: flex-end;
  top: 30px;
  margin: auto;
}
.menuH button {
  position: fixed;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
}
.menuH button svg {
  fill: rgb(0, 0, 0);
  transition: 0.2s;
}

.menuH button svg:hover {
  background-color: rgba(73, 72, 72, 0.247);
  border-radius: 10px;
}
.menuH button svg:active {
  fill: red;
}

.example-sidenav {
  padding: 90px;
  width: 25%;
}

//Separacion De Botones Del Perfil
.EnvEdi {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cerraSe {
  position: relative;
  text-align: center;
  top: 40px;
}
.cerraSe a {
  color: gray;
}

// Fade in out
#fadeinout p{
  opacity: 0;
  transition: opacity 1 2s;
}
