<div class="title">
  <h1 mat-dialog-title>Registro {{data.dateStr}}</h1>
  <button mat-stroked-button color="primary" (click)="handleSaveButton()" *ngIf="ActDi < inputDate">Register</button>
</div>
<div class="containerDialog">
  <div class="col-12 columnUsers">
    <mat-card *ngFor="let user of UserListPerDay">
      {{user.first_name + " " + user.last_name}}
      <button mat-button color="primary" (click)="handleDeleteUser(user.id_user)" >
        <fa-icon [icon]="faTimes"></fa-icon>
      </button>
    </mat-card>
  </div>
</div>