<mat-card [ngClass]="getCssFestClass(festiveType)">
  <mat-card-header>
    <button mat-mini-fab color="primary" (click)="handleDayClick(dayNumber)">
      <p style="margin-bottom: 0px;" [(ngModel)]="dayNumber">{{dayNumber}}</p>
    </button>
  </mat-card-header>
  <mat-card-content>
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let bf of myBreakfasts">
        <div class="myDiv">
          <mat-icon>person</mat-icon>
          <p>{{bf.name}}</p>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-footer>
    <button mat-mini-fab color="primary" (click)="handleSaveButton()" [disabled]="isButtonEnabled()">
      <mat-icon>fastfood</mat-icon>
    </button>
  </mat-card-footer>
</mat-card>