<div class="item">
<div class="containerDialog">
    <div class="col-12 columnUsers">
        <fa-icon [icon]="faSave" class="faicon"></fa-icon>
        <fa-icon [icon]="faTimes" class="faicon"></fa-icon>

        <!-- <img src="https://img.icons8.com/ios-glyphs/30/000000/save--v1.png"/>
         <img src="https://img.icons8.com/material-two-tone/24/000000/delete-sign.png"/> -->
    </div>
</div>
<div class="containerDialog">
    <div class="col-12 columnUsers">
        <mat-card>
            <div mat-card-avatar class="example-header-image">
                <p>Liliana Medina</p>
            </div>
            <div class="un">
                <mat-form-field appearance="fill">
                    <mat-label>Roles</mat-label>
                    <select matNativeControl required>
                        <option value="2">Colaborador</option>
                        <option value="1">Admi</option>
                    </select>
                </mat-form-field>
            </div>
            <!-- {{user.first_name + " " + user.last_name}} -->
            <div class="chec">
                <input type="checkbox" name="" id="">
            </div>
        </mat-card>
    </div>
</div>
<div class="containerDialog">
    <div class="col-12 columnUsers">
        <mat-card>
            <div mat-card-avatar class="example-header-image">
                <p>Liliana Medina</p>
            </div>
            <div class="un">
                <mat-form-field appearance="fill">
                    <mat-label>Roles</mat-label>
                    <select matNativeControl required>
                        <option value="2">Colaborador</option>
                        <option value="1">Admi</option>
                    </select>
                </mat-form-field>
            </div>
            <!-- {{user.first_name + " " + user.last_name}} -->
            <div class="chec">
                <input type="checkbox" name="" id="">
            </div>
        </mat-card>
    </div>
</div>
</div>