
<mat-card>
  <!-- *ngFor="" -->
  <div class="style">
    <br>
    <mat-card-header>
      <div style="display: flex;">
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
      </div>

      <mat-form-field appearance="fill">
        <mat-label class="roles">Roles</mat-label>
        <select matNativeControl required>
          <option value="2">Colaborador</option>
          <option value="1">Admi</option>
        </select>
      </mat-form-field>
      <input type="checkbox" name="" id="">
    </mat-card-header>

    <!-- <div> -->

    <!-- </div> -->

    <div>
    </div>
  </div>
</mat-card>

<mat-card>
  <!-- *ngFor="" -->
  <div class="style2">
    <br>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <!-- <div  class="un" >
        <mat-form-field appearance="fill">
          <mat-label>Roles</mat-label>
          <select matNativeControl required>
            <option value="2">Colaborador</option>
            <option value="1">Admi</option>
          </select>
        </mat-form-field> -->
      <!-- </div> -->
    </mat-card-header>


    <div class="chec">
      <input type="checkbox" name="" id="">
    </div>
  </div>
</mat-card>