<div class="loginContainer">
  <mat-toolbar>
    <img src="https://uploads-ssl.webflow.com/5e589a8b7bb9af87ad968338/613c50e0018116747c3bc5bc_ArkusNexus_MainLogo.svg"
      width="400" height="70" />
  </mat-toolbar>
  <div class="containerTabgroup">
    <mat-tab-group>
      <mat-tab label="Inicio de Sesión">
        <form [formGroup]="fLogin" (submit)="sendLogin()">
          <div class="formfieldContainer">
            <mat-form-field appearance="outline" color="accent">
              <mat-label>Correo</mat-label>
              <input matInput type="email" placeholder="usuario@arkus.com" formControlName="loginEmail" />
              <mat-error *ngIf="loginEmail.invalid">{{
                loginEmailErrorMessage()
                }}</mat-error>
            </mat-form-field>

                <mat-form-field appearance="outline" color="accent">
                    <mat-label>Contraseña</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="loginPassword">
                    <button type= "button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="loginPassword.invalid">{{loginPasswordErrorMessage()}}</mat-error>
                </mat-form-field>

            <button mat-raised-button color="primary" [disabled]="fLogin.invalid">
              Ingresar
            </button>
          </div>
        </form>
      </mat-tab>

      <mat-tab label="Registro">
        <form [formGroup]="fRegister" (submit)="sendRegister()">
          <div class="formfieldContainer">
            <!-- INPUTS de Nombre y Apellido -->
            <div class="formfieldNamesContainer">
              <mat-form-field appearance="outline" color="accent">
                <mat-label>Nombre</mat-label>
                <input matInput type="text" formControlName="name" />
                <mat-error *ngIf="name.invalid">{{
                  registerNameErrorMessage()
                  }}</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" color="accent">
                <mat-label>Apellido</mat-label>
                <input matInput type="text" formControlName="lastName" />
                <mat-error *ngIf="lastName.invalid">{{
                  registerLastnameErrorMessage()
                  }}</mat-error>
              </mat-form-field>
            </div>
            <!-- ACABA INPUTS de Nombre y Apellido -->
            <!-- INICIA INPUTS de dob, location, email y contraseñas -->
            <mat-form-field class="texbx" appearance="outline" color="accent">
              <mat-label>Fecha de Nacimiento >>></mat-label>
              <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="datepicker" [disabled]="true"
                formControlName="dob" />
              <mat-error *ngIf="dob.invalid">{{
                registerDobErrorMessage()
                }}</mat-error>
              <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
              <mat-datepicker #datepicker startView="multi-year" disabled="false"></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="texbx" appearance="outline" color="accent">
              <mat-label>Selecciona tu Sede</mat-label>
              <mat-select [formGroup]="fRegister" name="sede" formControlName="sede">
                <mat-option *ngFor="let sede of sedes" [value]="sede.value">{{
                  sede.viewValue
                  }}</mat-option>
              </mat-select>
              <mat-error *ngIf="sede.invalid">{{
                registerSedeErrorMessage()
                }}</mat-error>
            </mat-form-field>
            <mat-form-field class="texbx" appearance="outline" color="accent">
              <mat-label>Correo</mat-label>
              <input matInput type="email" placeholder="usuario@arkus.com" formControlName="registerEmail" />
              <mat-error *ngIf="registerEmail.invalid">{{
                registerEmailErrorMessage()
                }}</mat-error>
            </mat-form-field>
            <mat-form-field class="texbx" appearance="outline" color="accent">
              <mat-label>Contraseña</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="registerPassword" />
              <button type= "button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
              <mat-error *ngIf="registerPassword.invalid">{{
                registerPasswordErrorMessage()
                }}</mat-error>
            </mat-form-field>
            <mat-form-field class="texbx" appearance="outline" color="accent">
              <mat-label>Confirmar Contraseña</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword" />
              <button type= "button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
              <mat-error *ngIf="confirmPassword.invalid">{{
                confirmPasswordErrorMessage()
                }}</mat-error>
              <mat-error *ngIf="confirmPassword.errors.mustMatch">Las contraseñas deben coincidir</mat-error>
            </mat-form-field>
            <!-- ACABA INPUTS de dob, location, email y contraseñas -->
            <button mat-raised-button color="primary" type="submit" [disabled]="fRegister.invalid">Registrarme</button>
            </div>
        </form>
    </mat-tab>
  </mat-tab-group>
</div>
</div>