<mat-toolbar>
    <img class="logo" src="assets/img/logoArkus.png" width="400" height="70">
  </mat-toolbar>

<mat-tab-group>
  <mat-tab label="Inicio de Sesión">
      <form [formGroup]="fLogin" (submit)="sendLogin()">
          <div>
              <mat-form-field appearance="outline">
                  <mat-label>Correo</mat-label>
                  <input matInput type="text" formControlName="loginEmail">
                  <mat-error *ngIf="loginEmail.invalid">{{loginEmailErrorMessage()}}</mat-error>
              </mat-form-field>
          </div>

          <div>
              <mat-form-field appearance="outline">
                  <mat-label>Contraseña</mat-label>
                  <input matInput  type="password" formControlName="loginPassword">
                  <mat-error *ngIf="loginPassword.invalid">{{loginPasswordErrorMessage()}}</mat-error>
              </mat-form-field>
          </div>
      
          <button mat-raised-button color="primary" [disabled]="fLogin.invalid">Ingresar</button>
      </form>
  </mat-tab>

  <mat-tab label="Registro">
      <form [formGroup]="fRegister" (submit)="sendRegister()">
          <div>
              <mat-form-field appearance="outline">
                  <mat-label>Nombre</mat-label>
                  <input matInput type="text" formControlName="name">
              </mat-form-field>
          </div>
          <div>
              <mat-form-field appearance="outline">
                  <mat-label>Apellido</mat-label>
                  <input matInput type="text" formControlName="lastName">
              </mat-form-field>
          </div>
          <div>
              <mat-form-field appearance="outline">
                  <mat-label>Fecha de Nacimiento</mat-label>
                  <input matInput [matDatepicker]="datepicker" formControlName="dob">
                  <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                  <mat-datepicker #datepicker disabled="false"></mat-datepicker>
              </mat-form-field>
          </div>
          <div>
              <mat-form-field appearance="outline">
                  <mat-label>Selecciona tu Sede</mat-label>
                  <mat-select [formGroup]="fRegister" name="sede" formControlName="sede">
                  <mat-option *ngFor="let sede of sedes" [value]="sede.value">{{sede.viewValue}}</mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
          <div>
              <mat-form-field appearance="outline">
                  <mat-label>Correo</mat-label>
                  <input matInput type="text" formControlName="registerEmail">
                  <mat-error *ngIf="registerEmail.invalid">{{registerEmailErrorMessage()}}</mat-error>
              </mat-form-field>
          </div>

          <div>
              <mat-form-field appearance="outline">
                  <mat-label>Contraseña</mat-label>
                  <input matInput type="password" formControlName="registerPassword">
                  <mat-error *ngIf="registerPassword.invalid">{{registerPasswordErrorMessage()}}</mat-error>
              </mat-form-field>
          </div>

          <div>
              <mat-form-field appearance="outline">
                  <mat-label>Confirmar Contraseña</mat-label>
                  <input matInput type="password" formControlName="confirmPassword">
                  <mat-error *ngIf="confirmPassword.invalid">{{confirmPasswordErrorMessage()}}</mat-error>
              </mat-form-field>
          </div>
          
          <button mat-raised-button color="primary" type="submit" [disabled]="fRegister.invalid">Registrarme</button>

      </form>
  </mat-tab>
</mat-tab-group>
<div>Valido: {{fLogin.valid | json}} </div>
<div>Valido: {{fRegister.valid | json}} </div>
