//TODO
// Fix the space to place the arksu logo
.calendarContainer {
  height: 100%;
  display: grid;
  grid-template-rows: 6vh 6vh auto 6vh;
  grid-template-columns: 80vw 20vw;
  .arkusLogo {
    grid-column: 1/-1;
    grid-row: 1/2;
    place-self: center;
  }
  .headerCalendar {
    grid-column: 1/-1;
    grid-row: 2/3;
    place-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .calendarTable {
    grid-row: 3/4;
    grid-column: 1/2;
    margin: 0 10px;
    display: grid;
    min-height: 12vh;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 30px repeat(6, 1fr);
    row-gap: 5px;
    column-gap: 5px;
    .rowTable {
      grid-column: 1/-1;
      z-index: -1;
    }
  }
  .bigday {
    grid-column: 2/-1;
    grid-row: 3/4;
  }
  .footer{
    grid-column: 1/-1;
    grid-row: 4/-1;
  }
}

.rowTable {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 5px;
  .day {
    grid-column: span 1;
  }
}

.dayNumber{
  margin: 0;
  margin-bottom: 2px;
  font-size: 1.5em;
}

.headerTable {
  column-gap: 5px;
  text-align: center;
}

.dayName{
  border-width: 1px;
  border-style: solid;
  border-radius: 0 5px;
  border-color: #12142D;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.549);
}

.day {
  border-width: 1px;
  border-style: solid;
  border-radius: 0 5px;
  border-color: #12142D;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  z-index: 2;
}

.day:hover{
  cursor: pointer;
  transition: width 0.1s, height 0.1s, background-color .25s;
  transition-timing-function: linear;
  z-index: 3;
  background-color: white;
  width: 110%;
  height: 120%;
  place-self: center;
}

.background{
  position: absolute;
  z-index: -1;
  width: 100%;
  margin: 0;
  bottom: 0;
}

// .path-0 {
//   animation: pathAnim-0 4s;
//   animation-timing-function: linear;
//   animation-iteration-count: infinite;
// }

// @keyframes pathAnim-0 {
//   0% {
//     d: path("M 0,600 C 0,600 0,200 0,200 C 77.5,232.09230769230768 155,264.18461538461537 248,270 C 341,275.81538461538463 449.5,255.35384615384615 519,237 C 588.5,218.64615384615385 619,202.4 698,195 C 777,187.6 904.5,189.04615384615383 993,203 C 1081.5,216.95384615384617 1131,243.4153846153846 1199,245 C 1267,246.5846153846154 1353.5,223.2923076923077 1440,200 C 1440,200 1440,600 1440,600 Z");
//   }

//   25% {
//     d: path("M 0,600 C 0,600 0,200 0,200 C 75.25384615384615,201.61538461538464 150.5076923076923,203.23076923076925 227,220 C 303.4923076923077,236.76923076923075 381.223076923077,268.6923076923077 465,267 C 548.776923076923,265.3076923076923 638.5999999999999,229.99999999999997 718,196 C 797.4000000000001,162.00000000000003 866.3769230769233,129.30769230769232 952,136 C 1037.6230769230767,142.69230769230768 1139.8923076923077,188.76923076923075 1224,206 C 1308.1076923076923,223.23076923076925 1374.0538461538463,211.61538461538464 1440,200 C 1440,200 1440,600 1440,600 Z");
//   }

//   50% {
//     d: path("M 0,600 C 0,600 0,200 0,200 C 91.84871794871793,209.8897435897436 183.69743589743587,219.77948717948718 257,218 C 330.30256410256413,216.22051282051282 385.0589743589744,202.7717948717949 468,216 C 550.9410256410256,229.2282051282051 662.0666666666665,269.1333333333333 750,258 C 837.9333333333335,246.86666666666667 902.6743589743589,184.6948717948718 976,180 C 1049.325641025641,175.3051282051282 1131.2358974358972,228.0871794871795 1210,241 C 1288.7641025641028,253.9128205128205 1364.3820512820514,226.95641025641027 1440,200 C 1440,200 1440,600 1440,600 Z");
//   }

//   75% {
//     d: path("M 0,600 C 0,600 0,200 0,200 C 87.63333333333335,190.7974358974359 175.2666666666667,181.5948717948718 254,186 C 332.7333333333333,190.4051282051282 402.5666666666667,208.4179487179487 483,213 C 563.4333333333333,217.5820512820513 654.4666666666667,208.73333333333338 735,227 C 815.5333333333333,245.26666666666662 885.5666666666668,290.64871794871794 967,272 C 1048.4333333333332,253.35128205128206 1141.2666666666667,170.67179487179487 1222,148 C 1302.7333333333333,125.32820512820511 1371.3666666666668,162.66410256410256 1440,200 C 1440,200 1440,600 1440,600 Z");
//   }

//   100% {
//     d: path("M 0,600 C 0,600 0,200 0,200 C 77.5,232.09230769230768 155,264.18461538461537 248,270 C 341,275.81538461538463 449.5,255.35384615384615 519,237 C 588.5,218.64615384615385 619,202.4 698,195 C 777,187.6 904.5,189.04615384615383 993,203 C 1081.5,216.95384615384617 1131,243.4153846153846 1199,245 C 1267,246.5846153846154 1353.5,223.2923076923077 1440,200 C 1440,200 1440,600 1440,600 Z");
//   }
// }

// .path-1 {
//   animation: pathAnim-1 4s;
//   animation-timing-function: linear;
//   animation-iteration-count: infinite;
// }

// @keyframes pathAnim-1 {
//   0% {
//     d: path("M 0,600 C 0,600 0,400 0,400 C 65.45641025641024,430.3461538461538 130.91282051282047,460.6923076923077 213,453 C 295.0871794871795,445.3076923076923 393.8051282051282,399.5769230769231 489,394 C 584.1948717948718,388.4230769230769 675.8666666666668,423 749,411 C 822.1333333333332,399 876.728205128205,340.4230769230769 955,351 C 1033.271794871795,361.5769230769231 1135.2205128205128,441.30769230769226 1220,461 C 1304.7794871794872,480.69230769230774 1372.3897435897436,440.34615384615387 1440,400 C 1440,400 1440,600 1440,600 Z");
//   }

//   25% {
//     d: path("M 0,600 C 0,600 0,400 0,400 C 72.58461538461538,405.0692307692308 145.16923076923075,410.1384615384615 229,423 C 312.83076923076925,435.8615384615385 407.9076923076923,456.5153846153846 479,444 C 550.0923076923077,431.4846153846154 597.2,385.8 677,365 C 756.8,344.2 869.2923076923075,348.28461538461534 953,352 C 1036.7076923076925,355.71538461538466 1091.6307692307694,359.0615384615384 1168,367 C 1244.3692307692306,374.9384615384616 1342.1846153846154,387.46923076923076 1440,400 C 1440,400 1440,600 1440,600 Z");
//   }

//   50% {
//     d: path("M 0,600 C 0,600 0,400 0,400 C 69.44102564102565,402.1692307692308 138.8820512820513,404.33846153846156 217,397 C 295.1179487179487,389.66153846153844 381.91282051282053,372.81538461538463 465,372 C 548.0871794871795,371.18461538461537 627.4666666666667,386.40000000000003 699,408 C 770.5333333333333,429.59999999999997 834.2205128205129,457.58461538461535 924,468 C 1013.7794871794871,478.41538461538465 1129.6512820512821,471.26153846153846 1220,457 C 1310.3487179487179,442.73846153846154 1375.174358974359,421.36923076923074 1440,400 C 1440,400 1440,600 1440,600 Z");
//   }

//   75% {
//     d: path("M 0,600 C 0,600 0,400 0,400 C 90.70256410256408,429.5769230769231 181.40512820512816,459.15384615384613 254,460 C 326.59487179487184,460.84615384615387 381.08205128205134,432.96153846153845 460,398 C 538.9179487179487,363.03846153846155 642.2666666666665,320.99999999999994 730,340 C 817.7333333333335,359.00000000000006 889.8512820512822,439.0384615384616 970,471 C 1050.1487179487178,502.9615384615384 1138.3282051282051,486.8461538461538 1218,467 C 1297.6717948717949,447.1538461538462 1368.8358974358976,423.5769230769231 1440,400 C 1440,400 1440,600 1440,600 Z");
//   }

//   100% {
//     d: path("M 0,600 C 0,600 0,400 0,400 C 65.45641025641024,430.3461538461538 130.91282051282047,460.6923076923077 213,453 C 295.0871794871795,445.3076923076923 393.8051282051282,399.5769230769231 489,394 C 584.1948717948718,388.4230769230769 675.8666666666668,423 749,411 C 822.1333333333332,399 876.728205128205,340.4230769230769 955,351 C 1033.271794871795,361.5769230769231 1135.2205128205128,441.30769230769226 1220,461 C 1304.7794871794872,480.69230769230774 1372.3897435897436,440.34615384615387 1440,400 C 1440,400 1440,600 1440,600 Z");
//   }
// }
