//TODO
// Fix the space to place the arksu logo

.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 10px;
    padding-bottom: 10px;
    // place-items: center;
    button {
        max-width: 10px;
        margin: 0 2px;
    }
    #actualMonth {
        // margin: 5px;
        font-size: x-large;
        justify-self: center;
        align-self: center;
    }
    .navcontrols{
        justify-items: start;
    }
}
.calendarTable {
    //TODO
    // Fix the space of the footer
    display: grid;
    height: 94.4%;
    grid-template-rows: 50px repeat(6, 1fr) 50px;
    .headerTable {
        margin: 0;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        place-items: center;
        .day {
            grid-column: span 1;
        }
        // .lunes {
        //     grid-column: 1/2;
        // }
        // .martes {
        //     grid-column: 2/3;
        // }
        // .miercoles {
        //     grid-column: 3/4;
        // }
        // .jueves {
        //     grid-column: 4/5;
        // }
        // .viernes {
        //     grid-column: 5/6;
        // }
    }
    .rowTable {
        margin: 0;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        place-items: center;
        .day {
            grid-column: span 1;
        }
        // .lunes {
        //     grid-column: 1/2;
        // }
        // .martes {
        //     grid-column: 2/3;
        // }
        // .miercoles {
        //     grid-column: 3/4;
        // }
        // .jueves {
        //     grid-column: 4/5;
        // }
        // .viernes {
        //     grid-column: 5/6;
        // }
    }
}
