//TODO
// Fix the space to place the arksu logo
.calendarContainer {
  height: 100%;
  display: grid;
  grid-template-rows: 6vh 6vh auto 6vh;
  grid-template-columns: 80vw 20vw;
  .arkusLogo {
    grid-column: 1/-1;
    grid-row: 1/2;
    place-self: center;
  }
  .headerCalendar {
    grid-column: 1/-1;
    grid-row: 2/3;
    place-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .calendarTable {
    grid-row: 3/4;
    grid-column: 1/2;
    margin: 0 10px;
    display: grid;
    min-height: 12vh;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 30px repeat(6, 1fr);
    row-gap: 5px;
    column-gap: 5px;
    .rowTable {
      grid-column: 1/-1;
    }
  }
  .bigday {
    grid-column: 2/-1;
    grid-row: 3/4;
  }
  .background{
    display: grid;
    grid-row: 4/-1;
  }
}

.rowTable {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 5px;
  .day {
    grid-column: span 1;
    .dayNumber{
        margin: 0;
    }
    .dayOfMonth {
      overflow-y: auto;
    }
  }
}

.headerTable {
  column-gap: 5px;
  text-align: center;
}

.dayName{
  border-width: 1px;
  border-style: solid;
  border-radius: 0 5px;
  border-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.549);
}

.day {
  border-width: 1px;
  border-style: solid;
  border-radius: 0 5px;
  border-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.549);
  width: 100%;
  height: 100%;
  z-index: 2;
}

.day:hover{
  cursor: pointer;
  transition: width 0.1s, height 0.1s, background-color .25s;
  transition-timing-function: linear;
  z-index: 3;
  background-color: white;
  width: 110%;
  height: 120%;
  place-self: center;
}

.background{
  display: inline;
  position: fixed;
  vertical-align: bottom;
  // top: 500px;
  z-index: -1;
}