<div class="header">
    <div class="navcontrols">
        <button type="button" title="before" mat-raised-button color="primary" id="monthBefore">
            <fa-icon [icon]="lessThan"></fa-icon>
        </button>
        <button type="button" title="after" mat-raised-button color="primary" id="monthAfter">
            <fa-icon [icon]="greaterThan"></fa-icon>
        </button>
        <button mat-raised-button color="primary" id="today">
            Today
        </button>
    </div>
    <span id="actualMonth">Month</span>
    <app-perfil></app-perfil>
</div>
<div class="calendarTable">
    <div class="headerTable">
        <div class="day viernes">Domingo</div>
        <div class="day lunes">Lunes</div>
        <div class="day martes">Martes</div>
        <div class="day miercoles">Miercoles</div>
        <div class="day jueves">Jueves</div>
        <div class="day viernes">Viernes</div>
        <div class="day viernes">Sabado</div>
    </div>
    <div class="rowTable" *ngFor="let semana of month.weeks">
        <!-- {{semana}} -->
        <div class="day" *ngFor="let days of semana">
            <!-- <p *ngIf="days.value.length > 0">{{days.key}}</p> -->
            <!-- {{days.value}} -->
            <app-dayofmonth [day]="days"></app-dayofmonth>
        </div>
    </div>
    <div class="footer">
        <p>ESTO ES EL FOOTER</p>
    </div>
</div>