<div class="card">
  <div class="header">
    <button class="normalCounter" mat-mini-fab color="'white'">
      <p style="margin-bottom: 0px;" [(ngModel)]="bfCount" ngDefaultControl>{{bfCount}}</p>
    </button>
    <button *ngIf="eventCount > 0" class="eventCounter" mat-mini-fab color="'white'">
      <p style="margin-bottom: 0px;" [(ngModel)]="eventCount" ngDefaultControl>{{eventCount}}</p>
    </button>
  </div>
  <div class="content">
    <div class="contentWrapper">
      <div class="randomDiv">
        <div class="listItem" *ngFor="let bf of breakfasts">
          <mat-icon class="contIcon" [inline]="true">person</mat-icon>

          <p [ngClass]="[getCssPartyMode(bf)]" class="pItem">{{bf.firstName + " " + bf.lastName}}</p>

          <button class="deleteButton" mat-mini-fab color="primary"
            *ngIf="now <= todayLimitDate && (isAdmin || bf.userId === isUser)" (click)="handleDeleteUser(bf.userId)">
            <mat-icon [inline]="true">close</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>